src/main/mule/hotel_interface.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}"/>
    </http:listener-config>
    <apikit-soap:config name="soapkit-config" port="HotelsSoap" service="Hotels" wsdlLocation="Hotel.wsdl" inboundValidationEnabled="true"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/Hotels/HotelsSoap">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config" doc:id="2cbd2d04-58dc-40bb-bb76-c64e57dca47d">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="GetHotels:\soapkit-config">
        <flow-ref doc:name="getHotels" doc:id="e496a6b6-bded-4ee1-be1e-b5858e33b709" name="getHotels"/>
    </flow>
    <flow name="BookHotel:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="3258f8bd-883c-4092-9077-ffe11cfffdcd" name="bookHotel"/>
    </flow>
</mule>
